
<h4>Application Form </h4>
<form action="/job/{{job['id']}}/apply/" method="post">
  <div class='mb-2'>
  <label>Full Name </label><br>
  <input type="text" name='full_name' placeholder="Full Name"><br>
  </div>

  <div class='mb-2'>
  <label>eMail </label><br>
  <input type='email' name='email'><br>
  </div>

  <div class='mb-2'>
  <label>Phone Number </label><br>
  <input type='tel' name='phone'><br>
  </div>

  <div class='mb-2'>
  <label>Education </label><br>
  <input type="text" name='education'><br>
  </div>

  <div>
    <label class='mb-2'>Work Expereience </label><br>
    <textarea name="work_expereience"></textarea>
  </div>
  
  <input type="submit" name='submit' value="Submit">
</form>
